{% extends 'MainLayout.html' %}
{% load static %}

{% block content %}
    <div class="card mb-3">
        <div class="card-header">
            {{ book.name }} - rate: {{ book.rate }}
            <a href="{% url 'book-delete' pk=book.pk %}" class="btn btn-danger btn-sm float-end">delete</a>
            <a href="{% url 'book-edit' pk=book.pk %}" class="btn btn-warning btn-sm float-end">edit</a>
        </div>
        <div class="card-body">
            written by:
            <ul>
                {% for person in book.author.all %}
                    <li>{{ person.first_name }} {{ person.last_name }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
{%  endblock %}